#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* .location-input-header{
  font-size: large;
} */
.card-container{
  margin-top: 5%;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card{
  height:inherit;
  background-color:darkcyan;
  opacity: 0.8;
  border-radius: 10px;
}
.card-header{
  padding: 10px 20px;
  font-size: x-large;
}
.card-text{
  padding-bottom: 5px;
  font-size:larger;
  padding-left: 10px;
  padding-right: 10px;
}
.card-subtext{
  padding-bottom: 20px;
}
.filter-container{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap:5%;
}
.list-container{
  padding-top: 20px;
  float:left;
  width:100%;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.table-title{
  width:50%;
}
thead{
  border:solid;
  border-width:0px 0px 3px 0px;
  border-color: white;
}
td{
  border:solid;
  border-width:0px 0px 1px 0px;
  border-color: white;
}
.page-container{
  padding-top: 20px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.other-page-button{
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.other-page-button:hover{
  background-color: white;
  color: darkcyan;
  border-radius: 5px;
  padding: 5px 10px;
}
.current-page-button{
  background-color: darkcyan;
  color: white;
  border-width: 2px;
  border-color:black;
  border-radius: 5px;
  padding: 5px 10px;
}